!!! XML
%html
  %head
    %title= "#{@title} #{@g}(g)"
    %link{:rel => 'stylesheet', :href => "#{app_root}/reset-3.1.1.css", :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => "#{app_root}/fonts-3.1.1.css", :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => "#{app_root}/g.css", :type => 'text/css'}      
    :javascript
      var app_root = "#{app_root}";
      var g = #{@g};
       var gyazz_url = "#{@@conf['gyazz_url']}";
    %script{:type => 'text/javascript', :src => "#{app_root}/jquery.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/g.js"}      
  %body
    %div#content
    %div#head
      %h1 #{@g}(g)
      %div#items
        %h2 だいたい#{@g}(g)ぐらいの物
        %ul#items
      %div#new_item
        %h2 新規追加
        %input#name{:size => '30', :value => 'きゃべつ'}
        %input#btn_add{:type => 'button', :value => '追加'}
        
