!!! XML
%html
  %head
    %title= "#{@title} #{@g}(g)"
    %link{:rel => 'stylesheet', :href => "#{app_root}/reset-3.1.1.css", :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => "#{app_root}/fonts-3.1.1.css", :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => "#{app_root}/g.css", :type => 'text/css'}      
    :javascript
      var api = "#{app_root}/api/items.json";
      var g = #{@g};
      var gyazz_url = "#{@@conf['gyazz_url']}";
    %script{:type => 'text/javascript', :src => "#{app_root}/jquery.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/g.js"}      
  %body
    %div#content
      %div#head
        %h1 重さ #{@g}(g)
      %div#items
        
